.heading1{
    border-width: 10px;
    border-style: solid;
    border-color: blue;
    text-align: end;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 50px;
    color: red;
    background: white;
}
.heading2{
    border-bottom: 10px double rgb(60, 255, 0);
    border-top: 10px dotted blue;
    border-left: 10px dashed violet;
    border-right: 10px solid gold;
    text-align: end;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    color: red;
    background: pink;
}
#slogan{
    
    text-align: center;
    text-transform: capitalize;
    font-size: 20px;
    color: aqua;
f
}
.portal{
    border:5px dashed brown;
    font-weight: 800;
    font-size: small ;
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
    background: white;
     font-style: italic;

}
img{
    border-bottom: 10px double rgb(60, 255, 0);
    border-top: 10px dotted blue;
    border-left: 10px dashed violet;
    border-right: 10px solid gold;
    border-radius: 100%;
    width: 300px;
    height:300px;
}
body{
    background-color: aqua;

}
#teachers{
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;

}
.teachers{
    color: brown;
}
#deepu{
    color: black;
}
span{
    color: black;
}
a{
    border-width: 5px;
    border-style: solid;
    border-color: rgb(35, 35, 58);
    text-decoration: none;
    text-transform: capitalize;
    color: blueviolet;
}
li{
    list-style: armenian;
}
.container{
    border:10px solid violet
}